<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,width=device-width">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="stylesheet" href="{{ config('app.source_uri').mix('style/ui.css') }}">
    <link rel="stylesheet" href="wedding-style.css">
</head>
<body>
    <div id="root" class="tm-body">
        <div>
             <p>Cвадебная фотосессия</p>
        </div>
        <div class="uk-container">
            <div>
                item1
            </div>
            <div>
                item2
            </div>
            <div>
                item3
            </div>
        </div>
    </div>
</body>
